// Green Theme Variables
$light-color: #7ed56f;
$medium-color: #55c57a;
$dark-color: #28b485;
$color-grey-light-1: #f7f7f7;
$medium-gray: #525252;
$black: #444;
$white: #ffff;

//Grid
$gutter-vertical: 8rem;
$gutter-horizontal: 4em;

//FONTs
$default-font: 1.6rem;
$small-text: 1.2rem;
