.header {
  height: 95vh;
  background-color: var(--light-color);
  background-image: linear-gradient(
      to right bottom,
      rgba($light-color, 0.8),
      rgba($dark-color, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    width: 6rem;
  }

  &__logo {
    width: 50px;
  }

  &__text-box {
    @include absolute-centering;
    backface-visibility: hidden; /*To eliminate the weird shaking*/
    text-align: center;
  }
}
