.nav {
  top: 5rem;
  right: 5rem;

  &__checkbox {
    display: none;
  }
  &__button {
    background-color: $white;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 4.5rem;
    right: 4.5rem;
    z-index: 500;
    box-shadow: 1rem 1rem 4rem rgba($black, 0.3);
    cursor: pointer;
  }
  &__background {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-image: radial-gradient($light-color, $dark-color);
    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 100;
    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);

    //transform: scale(90);
  }
  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 300;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  }
  &__list {
    @include absolute-centering;
    list-style: none;
    text-decoration: none;
    text-align: center;
    width: 100%;
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      color: $white;
      padding: 1rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 300;
      text-align: center;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 49%,
        $white 50%
      );
      background-size: 240%;
      transition: all 0.4s;
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $medium-color;
      transform: translateX(1rem);
    }
  }

  //FUNCIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(90);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 34px;
    margin-left: 2rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-darker;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: transform 0.2s;
    }
    &::after {
      top: 0.8rem;
    }
    &::before {
      top: -0.8rem;
    }
  }
  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
