.feature-box {
  background-color: rgba($white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 5rem 40px rgba($black, 0.5);

  &__icon {
    font-size: 8rem;
    background-image: linear-gradient(to right bottom, rgba($medium-color, 0.8), rgba($dark-color, 0.5));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  &__text {
    font-size: $default-font;
  }
}
