.feature-box {
  background-color: rgba($white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 2.5rem 6rem rgba($black, 0.3);
  transition: transform 0.2s;
  min-height: 30rem;
  backface-visibility: hidden;

  &__icon {
    font-size: 6rem;
    background-image: linear-gradient(
      to right bottom,
      rgba($medium-color, 0.8),
      rgba($dark-color, 0.5)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 0.5rem;
  }

  &:hover {
    box-shadow: 0 5rem 6rem rgba($black, 0.5);
    transform: scale(1.03) translateY(-0.5rem);
  }
}
