.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#000, 0.8);
  z-index: 800;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  &:target {
    opacity: 1;
    visibility: visible;
  }
  &__close-btn {
    &:link,
    &:visited {
      position: absolute;
      top: 2rem;
      right: 3rem;
      font-weight: 400;
      color: black;
      text-decoration: none;
      font-size: 2.5rem;
    }

    &:hover,
    &:active {
      color: $dark-color;
    }
  }

  &__content {
    @include absolute-centering;

    background-color: white;
    width: 75%;
    box-shadow: 0 2rem 4rem rgba($black, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
  }

  &__left {
    display: block;
    width: 33.333333%;
    display: table-cell;
  }
  &__right {
    display: block;
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }
  &__img {
    display: block;
    width: 100%;
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px dashed $color-grey-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
