body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $medium-gray;
  padding: 3rem;
}
.heading-primary {
  color: $white;
  text-transform: uppercase;

  &--main {
    letter-spacing: 3.5rem;
    display: block;
    font-size: 6rem;
    font-weight: 700;
    animation: slide-l 1s ease-in forwards;
  }

  &--sub {
    font-size: 2rem;
    text-transform: uppercase;
    display: block;
    font-weight: 400;
    letter-spacing: 1rem;
    text-align: center;
    color: $white;
    animation: slide-r 1s ease-in-out forwards;
    margin-bottom: 3.5rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $light-color, $dark-color);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.3s;

  &:hover {
    transform: skewY(1deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
