.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0rem;
  margin-top: -25vh;
}

.section-features {
  padding: 25rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($dark-color, 0.8),
      rgba($dark-color, 0.3)
    ),
    url("../img/nat-4.jpg");
  background-size: cover;

  transform: skewY(-4deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(4deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 12rem 0;
  margin-top: -10vh;
}

.section-stories {
  background-image: linear-gradient(
      to left top,
      rgba(black, 0.5),
      rgba(black, 0.5)
    ),
    url("../img/nat-5.jpg");
  background-size: cover;
  padding: 25rem 0 12rem 0;
  margin-top: -10vh;
}
